body {
  background: linear-gradient(
    90deg,
    rgba(12, 13, 22, 1) 0%,
    rgba(26, 28, 43, 1) 100%
  );
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 100px;
  border-radius: 10px;
}

.overlay img {
  border-radius: 10px;
  max-width: 100px;
  height: auto;
}

.language-show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 60px;
  height: 40px;
  background-color: #46c5e2;
  border-radius: 5px;
}

.language-select {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 60px;
  height: 191px;
  background-color: #46c5e2;
  border-radius: 5px;
  z-index: 2;
}

.language-select img {
  transition: scale 0.3s;
}

.language-select img:hover {
  scale: 1.05;
  cursor: pointer;
}

.language-show:hover + .language-select,
.language-select:hover {
  display: flex;
}

.language-show img,
.language-select img {
  width: 45px;
}

.logo-github {
  position: absolute;
  bottom: 20px; /* Abstand vom unteren Rand */
  right: 100px; /* Abstand vom rechten Rand */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #46c5e2;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Abstand zwischen den Buttons */
}

.logo-github:hover {
  background-color: #2098b3;
}
.logo-discord {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #46c5e2;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.logo-discord:hover {
  background-color: #2098b3;
}

.logo {
  width: 25px;
  height: 25px;
  margin-right: 0px;
}

.large {
  font-size: 50px;
}

/* TESTEN OMEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE */